<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Price</title>
</head>
<body>
    <form method="POST" action="/predict_price">
        <label>
            
           
            Select Product:<br>
            <select name = "product_name">
                <option value = "Jeans">Select>></option>
                <option value = "Jeans">Jeans</option>
                <option value = "Shoes">Shoes</option>
                <option value = "T-shirt">T-shirt</option>
                <option value = "Dress">Dress</option>
                <option value = "Sweater">Sweater</option>
            </select><br><br>
            Select Brand:<br>
            <select name = "brand">
                <option value = "Nike">Select>></option>
                <option value = "Nike">Nike</option>
                <option value = "Zara">Zara</option>
                <option value = "Adidas">Adidas</option>
                <option value = "H&M">H&M</option>
                <option value = "Gucci">Gucci</option>
            </select><br><br>
            Category:<br>
            <select name = "category">
                <option value = "Kids' Fashion">Select>></option>
                <option value = "Kids' Fashion">Kid's</option>
                <option value = "Women's Fashion">Women's</option>
                <option value = "Men's Fashion">Men's</option>
            </select><br><br>
            Rating:<br>
            <input type="text" name="rating" placeholder="Enter Rating"><br><br>
            Size:<br>
                <input type="radio" value="XL" name="size">XL
                <input type="radio" value="L" name="size">L
                <input type="radio" value="S" name="size">S
                <input type="radio" value="M" name="size">M
            Color:<br>
            <select name = "color">
                <option value = "White">Select>></option>
                <option value = "White">White</option>
                <option value = "Yellow">Yellow</option>
                <option value = "Blue">Blue</option>
                <option value = "Green">Green</option>
                <option value = "Black">Black</option>
                <option value = "Red">Red</option>
            </select><br><br>
            
        </label>
        <input type = "submit" value="SUBMIT">

        <h4><strong>The price of your Fashion will be <b> {{ prediction }}$.</b> Only </strong></h4>
        <h5>Thank You , Visit again...!</h5>

    </form>
    
</body>
</html>